language: node_js

sudo: false

node_js:
- "0.10.36"
- "4"

addons:
  apt:
    sources:
     - ubuntu-toolchain-r-test
    packages:
     - libstdc++6 # upgrade libstdc++ on linux to support C++11


install:
 - npm install

script:
 - npm test
 - npm run coverage
